.head
  .top_banner
    .text_space 
      = render partial: 'shared/navigation'
    .wide_banner
.content
  .wide_space
    .title
      = "Partners"
    .context
      = image_tag('partners_banner.jpg')
= render partial: 'shared/footer'