- @content_competitions.each do |c|
  - if c.clickable?
    .announcement
      = link_to c.title, {controller: 'competitions', action: 'content', id: c.id}, remote: true
  - else
    .announcement_notlink
      = c.title