.piclink
  = link_to image_tag('picture_link_about.jpg'), controller: 'about'
.piclink
  = link_to image_tag('picture_link_competition.jpg'), controller: 'competitions'
.piclink
  = link_to image_tag('picture_link_gallery.jpg'), controller: 'gallery'