- @content_sponsors.each do |c|
  - if c.clickable?
    .announcement
      = link_to c.title, {controller: 'sponsors', action: 'content', id: c.id}, remote: true
  - else
    .announcement_notlink
      = c.title